
div#structure {
  position: fixed;
  width: var(--max-width);
  min-height: 600px;
  border: 1px solid #CCCCCC;
  user-select: none;
}
div#structure span {
  user-select: none;
  -webkit-user-select: none; /* Safari */
}
div.quart-temps {
  position: absolute;
  top: 75%;
  height: 25%;
  width: 25%;
  border:1px solid blue;
  background-color: #EEFFEE;
}
div.quart-temps:before {
  position: absolute;
  width: 400px;
  text-align:center;
  left: calc(50% - 200px);
  top: calc(50% - 80px);
  font-size:2em;
  color: #CCCCCC;
}
div#exposition {left:0}
div#exposition:before {content: "Exposition"}
div#developpement-part1 {left: 25%;}
div#developpement-part1:before {content: "Dév - Part.2"}
div#developpement-part2 {left: 50%;}
div#developpement-part2:before {content: "Dév - Part.2"}
div#denouement {left:75%}
div#denouement:before {content: "Dénouement"}

div#stt-editingstt,
div#stt-horizontalstt,
div#stt-verticalstt {
  position: fixed;
  width: var(--max-width);
  min-height: var(--min-height);
  top:var(--header-height);
  left:0;
}
div#stt-horizontalstt {
  background-color: #F4F4FF;
}
div#stt-editingstt {
  background-color: #FAFFFA;
  left: 2em;
}
/* 
  === Scènes ===

  Chaque scène (.scene) doit définir son top et son left
*/
scene {
  position: absolute;
  display: block;
  cursor: pointer;
}
/* Taille des scènes */
scene {
  --width: 40px; /* pour dimensionner la marque */
  --background: green; /* pour coloriser la marque */
  font-size: 13pt;
}
scene.main {font-size: 15pt; font-weight: bold}
scene:before {
  content: "";
  position: absolute;
  left: -0px;
  top: 0px;
  /* Pour régler la longueur */
  width: var(--width);
  background-color: var(--background);
  height: 12px;
  transform-origin: top left;
  transform:rotate(60deg) translateY(20px);
  border-radius: 8px;
}
scene:not(.not-biais) {
  transform-origin: top left;
  transform:rotate(-60deg) translateY(8px);
  top: 500px;
}
scene.not-biais {
  top: 300px;
}
scene.biais:before {top: -4px;}

/* Pour la structure verticale */

div.stt-element.vertical {
  display:block;
  position:relative;
  padding-left:1em;
  margin-left:2em;
}
div.stt-element.vertical div.left-band {
  display:block;
  position:absolute;
  width: 12px;
  top:0;
  left:0;
}

/* === SÉQUENCES === */

seq {
  position: absolute;
  display:block;
  border: 1px solid;
  padding: 4px 8px;
  top: calc(460px + 40px);
  cursor: pointer;
}
seq.meta { top: 460px; }

/* === L I G N E   D E   T E N S I O N === */

div#tension-line {
  position:fixed;
  bottom: 415px;
  width: var(--max-width);
  height:20px;
  background-color: black;
  z-index: 100;
}