body {
  font-size:16pt;
  margin-top: 100px;
  }
  header {
    position:fixed;
    top:0; left:0; width: 100%;
    height: auto;
    background-color:#555555;
    color: white;
    z-index:500;
  }
  header a, footer a {
    all: unset;
    color: inherit
  }

  footer {
    position:fixed;
    bottom:0; left:0; width: 100%;
    padding:1em;
    height: auto;
    background-color:#DDDDDD;
    font-size: 0.8em;
    z-index: 500;
  }

  /* Pour footer et header */
  div.content {
    padding: 12px 1em;
  }
  a, a:link, a:visited, a:hover {text-decoration: none}


  input[type="text"] {
    font-family:inherit;
    font-size: inherit;
  }
  .horloge {
    width: 80px; 
    background-color:#555;
    color:white;
    font-family:Monospace;
    text-align: center;
  }
  label + input {margin-left:0.5em}
  
.btn {
  cursor:pointer;
}

.center {text-align: center}
.fright {float:right}

.iblock {display:inline-block}

div.iblock > label {display:block;}
div.iblock > label+input{margin-left:0}

div#flash-group {
  position: fixed;
  top: 40px;
  z-index: 2000;
  right: 4em;
  background-color: white;
}
div#flash-group div.flash-message {
  padding: 0.3em 1em;
}
div#flash-group div.error {
  background-color: #FFCCCC;
  color:red;
}
div#flash-group div.notice {
  color: green;
  background-color: #CCFFCC;
}