<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Stt" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}></script>

    <script defer src="https://www.atelier-icare.net/js-libraries/dom.js"></script>
    <script defer src="https://www.atelier-icare.net/js-libraries/lib_testor.js"></script>
    <script defer src="https://www.atelier-icare.net/js-libraries/alors/alors_install.js"></script>

  </head>
  <body>
    <header><div class="content"><a href={~p"/"}>Structure</a></div></header>

    <.flash_group flash={@flash} />

    <%= @inner_content %>

    <footer>
      <label for="film-duree">Durée du film</label>
      <input type="text" id="film-duree" value="2:00:00" placeholder="H:MM:SS" class="center horloge" />

      <!-- Formulaire d'ajout un élément -->
      <input type="hidden" id="elt-id" value="" />
      <select id="elt-type">
        <option value="scene">Scène</option>
        <option value="seq">Séquence</option>
      </select>
      <div class="iblock">
        <label for="elt-pitch" class="block">Pitch</label>
        <input 
          id="elt-pitch" 
          type="text" 
          value="" 
          placeholder="Résumé" 
          style="width:400px;" />
      </div>
      <div class="iblock">
        <label for="elt-time" class="block">Position</label>
        <input id="elt-time" type="text" class="horloge" value="" placeholder="H:MM:SS"/>
      </div>
      <div class="iblock">
        <label for="elt-duree" class="block">Durée</label>
        <input id="elt-duree" type="text" class="horloge" value="" placeholder="H:MM:SS"/>
      </div>
      <div class="iblock">
        <label for="elt-color" class="block">Couleur</label>
        <input id="elt-color" type="text" style="width:200px;" value="" placeholder="back;fore" />
      </div>
      <div class="iblock">
        <label for="elt-tension" class="block">Tension</label>
        <input id="elt-tension" type="text" class="horloge" style="width:120px!important;" value="" placeholder="level;H:MM:SS" />
      </div>

      <button class="btn" onclick="Structure.createOrUpdate()">Ajouter</button>

    </footer>

  </body>
</html>
