<div id="stt-verticalstt">
  <div class="stt-header">
    <h2>Structure verticale</h2>
    <.filter_form id={"elements-filter-vertical"} stttype={"Vertical"} />
  </div>

  <div id="stt-verticalstt-listing">
    
  </div>
</div>